{% extends 'layout.html' %}

{% block title %}Edit Animal{% endblock %}

{% block content %}
<div class="container mt-4 col-lg-7">
    <h1>Edit Animal</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="post" action="{{ url_for('edit', animal_id=animal[0]) }}" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="text" name="image" class="form-control" placeholder="Image Link" value="{{ animal[5] }}" required>
            <div class="invalid-feedback">
                Please provide a valid image link.
            </div>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control" placeholder="Name" value="{{ animal[1] }}" required>
            <div class="invalid-feedback">
                Please provide a valid name.
            </div>
        </div>
        <div class="form-group">
            <label for="species">Species:</label>
            <input type="text" name="species" class="form-control" placeholder="Species" value="{{ animal[2] }}" required>
            <div class="invalid-feedback">
                Please provide a valid species.
            </div>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" name="age" class="form-control" placeholder="Age" value="{{ animal[3] }}" required>
            <div class="invalid-feedback">
                Please provide a valid age.
            </div>
        </div>
        <br>
        <label for="dietCategory">Diet Category:</label>
        <select id="dietCategory" name="dietCategory" class="form-control">
            <option value="Herbivore" {% if not animal[4] %}selected{% endif %}>Herbivore</option>
            <option value="Predator" {% if animal[4] %}selected{% endif %}>Predator</option>
        </select>
        <br><br>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}" class="mt-2 btn btn-secondary">Back</a>
</div>
{% endblock %}
